<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>SGL simulator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2"><canvas id="sgl"></canvas></div>
        </div>
        <div class="row"></div>
            <div class="col-md-7 col-md-offset-3">
                <form class="form-horizontal" onsubmit="event.preventDefault();">
                    <div class="form-group row">
                        <div class="col-md-8">
                            <label class="radio-inline">
                                <input type="checkbox" name="client-prediction" id="client-prediction" value="client-prediction">Client prediction
                            </label>
                            <label class="radio-inline">
                                <input type="checkbox" name="server-reconciliation" id="server-reconciliation" value="server-reconciliation">Server reconciliation
                            </label>
                            <label class="radio-inline">
                                <input type="checkbox" name="interpolation" id="interpolation" value="interpolation">Interpolation
                            </label>
                            <label class="radio-inline">
                                <input type="checkbox" name="extrapolation" id="extrapolation" value="extrapolation">Extrapolation
                            </label>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-group">
                                <li id="real-latency" class="list-group-item">Real latency: ~</li>
                                <li id="fake-latency" class="list-group-item">Fake latency: ~</li>
                                <li id="total-latency" class="list-group-item list-group-item-info">Total latency: ~</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label for="tps">TPS=~</label>
                            <input id="tps" class="input-bar-slider" type="range" min="1" max="120" />
                        </div>
                        <div class="col-md-4">
                            <label for="fps">FPS=60</label>
                            <input id="fps" class="input-bar-slider" type="range" min="1" max="60" />
                        </div>
                        <div class="col-md-4">
                            <label for="latency">Fake latency=~</label>
                            <input id="latency" class="input-bar-slider" type="range" min="0" max="1000" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="static/bundle.js"></script>
</body>
</html>
