<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>SGL simulator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2"><canvas id="sgl"></canvas></div>
        </div>
        <div class="row"></div>
            <div class="col-md-5 col-md-offset-3">
                <form class="form-horizontal" onsubmit="event.preventDefault();">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="radio-inline">
                                <input type="checkbox" name="client-prediction" id="client-prediction" value="client-prediction">Client prediction
                            </label>
                            <label class="radio-inline">
                                <input type="checkbox" name="server-reconciliation" id="server-reconciliation" value="server-reconciliation">Server reconciliation
                            </label>
                            <label class="radio-inline">
                                <input type="checkbox" name="interpolation" id="interpolation" value="interpolation">Interpolation
                            </label>
                            <label class="radio-inline">
                                <input type="checkbox" name="extrapolation" id="extrapolation" value="extrapolation">Extrapolation
                            </label>
                            <span class="radio-inline" id="latency">Latency: 0</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="tps">Ticks per second (TPS)</label>
                            <div class="input-group number-spinner">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                                </span>
                                <input id="tps" type="text" class="form-control text-center" value="30">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="fps">Frames per second (FPS)</label>
                            <div class="input-group number-spinner">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                                </span>
                                <input id="fps" type="text" class="form-control text-center" value="60">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="static/bundle.js"></script>
</body>
</html>
